.ButtonComponent {
  height: 48px;
  min-width: 144px;
  max-width: 200px;
  background-color: black;
  border: 0px;
  border-radius: 24px;
  margin: 16px 32px 16px 32px;
  text-align: center;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.ButtonComponent:hover {
  scale: 1.2;
  transform: scale(1.05);
  cursor: pointer;
}

.buttonText {
  text-transform: uppercase;
  color: white;
  font-size: calc(0.4em + 0.5vmin);
  letter-spacing: 1px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

/* Gradient backgrounds */

.gradientRed {
  background-color: #d2b6fc;
  background-image: linear-gradient(45deg, #a69af6 0%, #d2b6fc 74%);
  -webkit-box-shadow: 0px 0px 20px 4px rgba(166, 154, 246, 0.6);
  -moz-box-shadow: 0px 0px 20px 4px rgba(166, 154, 246, 0.6);
  box-shadow: 0px 0px 20px 4px rgba(166, 154, 246, 0.6);
}

.gradientBlue {
  background-color: #fcc0ab;
  background-image: linear-gradient(45deg, #f2928f 0%, #fcc0ab 74%);
  -webkit-box-shadow: 0px 0px 20px 4px rgba(242, 146, 143, 0.6);
  -moz-box-shadow: 0px 0px 20px 4px rgba(242, 146, 143, 0.6);
  box-shadow: 0px 0px 20px 4px rgba(242, 146, 143, 0.6);
}

.gradientGreen {
  background-color: #c3e6ff;
  background-image: linear-gradient(45deg, #5fbcff 0%, #c3e6ff 74%);
  -webkit-box-shadow: 0px 0px 20px 4px rgba(95, 188, 255, 0.6);
  -moz-box-shadow: 0px 0px 20px 4px rgba(95, 188, 255, 0.6);
  box-shadow: 0px 0px 20px 4px rgba(95, 188, 255, 0.6);
}
