.cardComponent {
  height: 50vh;
  width: 100%;
  background-color: white;
  margin: 16px 0 48px 0;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.05);
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.cardContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  text-align: left;
}

.cardDesc {
  margin: 16px 32px 16px 32px;
  font-size: calc(0.35em + 1vmin);
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  line-height: 1.4em;
  color: black;
  opacity: 0.56;
}

.cardBackground {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  border-radius: 0 15px 15px 0;
}

.cardTopBackground {
  height: 100%;
  width: 100%;
  background-image: url("../assets/images/cardTopBackground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  opacity: 0.2;
}

.cardTopBgInverted {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.cardImage {
  height: 100%;
  width: 100%;
}

/* Inverted */
.cardInverted {
  text-align: right;
  align-content: right;
  align-items: right;
}

.cardBgInverted {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  border-radius: 15px 0 0 15px;
}

/* Gradient backgrounds */

.gradientRed {
  background-color: #d2b6fc;
  background-image: linear-gradient(315deg, #a69af6 0%, #d2b6fc 74%);
}

.gradientBlue {
  background-color: #fcc0ab;
  background-image: linear-gradient(315deg, #f2928f 0%, #fcc0ab 74%);
}

.gradientGreen {
  background-color: #c3e6ff;
  background-image: linear-gradient(315deg, #5fbcff 0%, #c3e6ff 74%);
}
