.paperComponent {
    flex: 4;
    flex-basis: 24%;
    position: relative;
    height: 180px;
    min-width: 100px;
    margin: 18px 26px 18px 26px;
}

.avatar {
  position: relative;
  height: 72px;
  width: 72px;
  background-color: #e0e0e0;
  margin: 0 auto;
  border-radius: 50%;
}

.avatarIcon {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 72px;
  width: 72px;
}

/* Gradient backgrounds */

.gradientRed {
  background-color: #D2B6FC;
  background-image: linear-gradient(315deg, #D2B6FC 0%, #A69AF6 74%);
}

.gradientBlue {
  background-color: #FCC0AB;
  background-image: linear-gradient(315deg, #FCC0AB 0%, #F2928F 74%);
}

.gradientGreen {
  background-color: #C3E6FF;
  background-image: linear-gradient(315deg, #C3E6FF 0%, #5FBCFF 74%);
}

.gradientYellow {
  background-color: #FDF1BE;
  background-image: linear-gradient(315deg, #FDF1BE 0%, #FBE970 74%);
}

.gradientPurple {
  background-color: #90F7EC;
  background-image: linear-gradient(315deg, #AEF7EC 0%, #5CD9D5 74%);
}

.gradientOrange {
  background-color: #FFEFA9;
  background-image: linear-gradient(315deg, #FFEFA9 0%, #FCA56B 74%);
}

.gradientBlack {
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}
